a{
color: #ff0000;
text-align:center;	
}
body {
	background: url("/img/msazidbig.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat:no-repeat;
	margin: 0;
	overflow: hidden;
}

.data
{
    display: table;
    width: 70%;
}
.row{
	display: table-row;
}
.block_text
{
	text-align:center;
    display: table-cell;
    width: 50%;
    border: 1px solid blue;
}
.block_input
{
    display: table-cell;
    width: 50%;
    border: 1px solid blue;
}
.head_text{
	display: table-cell;
	text-align:center;
	border: 1px solid blue;
}
.data_text{
	display: table-cell;
color: yellow;
text-align:center;	
border: 1px solid blue;
}
h3   {color: blue;text-align:center;}
h4 {padding-left:10px; }
h2 {text-align:center; }
p {
	padding-left:10px;
}
a {
	display:block;
}
a#homeLink {color:blue;}
a#updatelink{color:black;display:block;}
.submit{
	padding-left:50px;
	display:block;}
.login {
	align:center;
	background-color: #f1f1c1;
	}
.userlog{
float:right;	
}

#userhistory{
	border:1px groove black;
	width: 360px;
	margin:5px;
}
.content {
    float: none;
    padding: 5px;
    border: 1px solid blue;
    display:block;
    max-width:600px;
} 
ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.5;
    background-color: #333;
}
ul.topnav li {
    float: left;
    border-right: 1px solid #400040;
}
li:last-child {
    border-right: none;
}
ul.topnav li.item-right {
    float: right;
}
ul.topnav li.icon {display: none;}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not {
    background-color: blue;
}
ul.topnav li a.active {
    background-color: #4CAF50;
}
.footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
}
ul.footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
     opacity: 0.5;
}
ul.footer li{
	float:left;
	font-size: 17px;
	padding: 5px 16px;
	 color: white;
}
img {
	width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  }
 input{
 height: 100%;
 }
@media screen and (max-width: 600px){
    ul.topnav li.item-right, 
    ul.topnav li {float: none;}
    ul.footer li{float:none;}
    div.content {float:none;}
/*    body{ */
/*     background: url("/img/msazidsmall.jpg") no-repeat center center fixed;  */
/*     } */
}