#topbar {background-color: powderblue;
padding:10px;
border: 1px solid red;
}
body {
	background-image: url("/img/msnabwi.jpg");
	background-color:green;
	margin: 0;
}
div {
	border: 1px solid #333;
}
.data
{
    display: table;
    width: 70%;
}
.row{
	display: table-row;
}
.block_text
{
	text-align:center;
    display: table-cell;
    width: 50%;
}
.block_input
{
    display: table-cell;
    width: 50%;
}
.head_text{
	display: table-cell;
}
.data_text{
	display: table-cell;
width:200px;	
}
h3   {color: blue;text-align:center;}
h4 {padding-left:10px; }
h2 {text-align:center; }
p {
	padding-left:10px;
}
a {
	display:block;
}
a#homeLink {color:blue;}
a#updatelink{color:black;display:block;}
.submit{
	padding-left:50px;
	display:block;}
.login {
	align:center;
	background-color: #f1f1c1;
	}
.userlog{
float:right;	
}
.inputbox{
	margin-top:5px;
	margin-left:20px;
}
.inputpas{
	margin-left:14px;
}
.inputnm{
	margin-left:33px;
}
.inputsub{
	margin-left:130px;
	margin-top:10px;
}
.userreg{
	border:1px groove blue;
	width: 400px;
	height: 125px;
	margin:5px;
}
.inuid{
	margin-top:5px;
	margin-left:70px;
}
.innewpas{
	margin-left:27px;
}
.inexpas{
	margin-left:0px;
}
#userdetail{
	border:1px groove blue;
	width: 360px;
	margin:5px;
}
.addamnt{
border:1px groove blue;
	width: 500px;
	margin:5px;	
}

table#transsumry {
	align:center;
	background-color: #f1f1c1;
}
#userhistory{
	border:1px groove black;
	width: 360px;
	margin:5px;
}
.content {
    float: left;
    margin: 5px;
    padding: 15px;
    border: 1px solid black;
    display:block;
} 
ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {
    float: left;
    border-right: 1px solid #bbb;
}
li:last-child {
    border-right: none;
}
ul.topnav li.about {
    float: right;
}
ul.topnav li.icon {display: none;}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not {
    background-color: blue;
}
ul.topnav li a.active {
    background-color: #4CAF50;
}
.footer{
	position: fixed;
    bottom: 0;
    width: 100%;
}
ul.footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.footer li{
	float:left;
	font-size: 17px;
	padding: 14px 16px;
}
img {
	max-width:100%}
@media screen and (max-width: 600px){
    ul.topnav li.about, 
    ul.topnav li {float: none;}
    ul.footer li{float:none;}
    div.content {float:none;}
   body{
    background-image: url("/img/smallbg.jpg"); 
    }
}