<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="content">
<p>App for Notification and keeping transaction details for friday Namaz at Sapient Noida Office </p>
<ul>
<li>Sends Notification on email for Zuma evry friday.</li>
<li>Counts the responses which can be viewed using menu</li>
<li>maintains account details for the spent and deposits</li>
</ul>
</div>
<% include footer %>
</body>
</html>