<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<form action="/addamntdb" method="post">
<h4>Enter the details for adding Amount </h4>
<div class="addamnt">
Email:<input type="text" name="email" class="inuid" />
Date:<input type="date" name="addedon" class="inuid" />
Amount:<input type="text" name="amount" class="inuid" />
<input type="submit" value="Submit" class="inputsub">
</div>
</form>
<% include footer %>
</body>
</html>