<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<form action="/updatetrans" method="post">
<h4>Update for any spent </h4>
<div class="content">
Date :<input type="date" name="spenton" class="inuid" />
Paid By(Email):<input type="text" name="email" class="inuid" />
Amount:<input type="text" name="amount" class="inuid" />
<input type="submit" value="Submit" class="inputsub">
</div>
</form>
<% include footer %>
</body>
</html>