<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="content">
<% if(request.session.user){ %>
<% if(request.session.admin){ %>
<a id="updatelink" href="/addamount">Add Amount</a>
<a id="updatelink" href="/addtransaction">Add Spent</a>
<%}%>
<a id="updatelink" href="/viewsummary">View Summary</a>
<a id="updatelink" href="/addmember">Add A Member</a>
<a id="updatelink" href="/viewAll">Viw All Members</a>
<% }else{ %>
<h3>Please <a class="home" href="/dologin">login</a> or <a class="home" href="/doregister">Register</a> to continue</h3>
<% } %>
</div>
<% include footer %>
</body>
</html>