<ul class="topnav">
<li> <a class="active" href="/">FRNMZ</a></li>
                <li ><a href="/doregister">Register</a></li>
                 <li ><a href="/about">About</a></li>
                 <li ><a href="/totalcount">View Responses</a></li>
                <li class="item-right">
                
<% if(request.session.user){ %>
<a href="/logout">Logout <%=request.session.user.username%> </a>
<% }else{ %>
<a href="/dologin">Login</a>
<% } %>
</li>
                </ul>
<!-- <button onclick="notifyMe()">Notify me!</button> -->
 
