<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<form action="/api/chgpass" method="post" onsubmit="return validateForm(this)">
<h4>Enter details to Change a password </h4>
<div class="content">
&nbsp;&nbsp;User ID :<input type="text" name="userid" class="inuid" />
<br>
&nbsp;&nbsp;Existing Password	: <input type="password" name="oldPass" class="inexpas"/>
<br>
&nbsp;&nbsp;New Password:  <input type="password" name="newPass" class="innewpas"/>
<br>
<input type="submit" value="Submit" class="inputsub">
</div>
</form>
<% include footer %>
</body>
</html>