<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<form action="/register" method="post">
<h4>Enter details to Sign Up</h4>
<div class="content">
Name	:  		<input type="text" name="name" class="inputnm"/>
Email	:  	<input type="text" name="email" class="inputnm"/>
Password	:  	<input type="password" name="password" class="inputnm"/>
<input type="submit" value="Submit" class="inputsub">
</div>
</form>
<% include footer %>
</body>
</html>