<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>

<div class="content">
<p>Enter details to Sign Up</p>
<form action="/register" method="post" onsubmit="return validateForm(this)">
<div class="data">
<div class="row">
<div class="block_text">Name</div>
<div class="block_input">
<input type="text" name="name" />
</div>
</div>
<div class="row">
<div class="block_text">Email</div>
<div class="block_input"> <input type="text" name="email" /></div>
</div>
<div class="row">
<div class="block_text">Password</div>
<div class="block_input"> <input type="password" name="password"/></div>
</div>
<span class="submit"><input type="submit" value="Submit"> </span>
</div>
</form>
</div>
<% include footer %>
</body>
</html>