<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<form action="/api/resetpass" method="post">
<h4>Enter email to reset ur password </h4>
<div class="userreg">
<input type="text" name="email" class="inuid" />
<br>
<input type="submit" value="Submit" class="inputsub">
</div>
</form>
<% include footer %>
</body>
</html>