<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>

<div class="content">
 <p>Response From</p>
<div class="data">
<div class="row">
<div class="head_text">Name</div>
<div class="head_text">Mobile</div>
</div>
<%val.response.forEach(function(item) { %>
<div class="row">
   <div class="data_text">  <%= item.username %>
    
</div>
	<div class="data_text">
	 <script>
	document.write('<a href="tel:' + '<%= item.mobile %>' + '">Call</a>');
</script>
	</div> 
	</div>
    <% }); %>
    
 </div>
    </div>
    <% include footer %>
</body>
</html>