<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="content">
<% if(val.resp){ %>
<p>Total count for Friday Namaz</p>
<div class="data">
<div class="row">
<div class="head_text">Date</div>
<div class="head_text">Count</div>
</div>
<%val.data.forEach(function(item) { %>
<div class="row">
   <div class="data_text">  <%= item.eventday.toDateString() %>
</div>
	<div class="data_text"><a href="/viewresponses?"><%= item.count %>(view all)</a>
	</div>
	</div>
    <% }); %>
    </div>  
    <%}else{%>
   <p> <%=val.data%> </p>
    <% }%>
    
    
  
    </div>
    <% include footer %>
</body>
</html>