<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="content">
<div class="data">
<div class="row">
<div class="head_text">Name</div>
<div class="head_text">Email</div>
</div>
<%val.response.forEach(function(item) { %>
<div class="row">
   <div class="data_text"><%= item.username %> </div>
     <div class="data_text"><%= item.email %>
     <script>
	document.write('<a href="/removeme?' + '<%= item.email %>' + '">Delete</a>');
</script>
     </div>
     </div>
    <% }); %>
 </div>   
    </div>
    <% include footer %>
</body>
</html>